<a href="https://colab.research.google.com/github/hafsana271/DataScienceAssignmnt/blob/main/Python_basic_task_assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given the string "Hello, World!", extract and print the
substring "Hello".

In [ ]:
a=("hello world")
print(a[0:5])

hello

2.Given the string "Python is fun", extract and print the
substring "is"

In [ ]:
a=("python is fun")
print(a[7:9])

is

3.Given the string "Programming", extract and print the
substring "gram" using slicing indices

In [ ]:
a=("programming")
print(a[3:7])

gram

4.
Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [ ]:
a=("abcdefgh")
print(a[1::2])

bdfh

5.Given the string "abcdefg", use negative indices to extract
and print the substring "efg".

In [ ]:
a=("abcdefg")
print(a[-3:])

efg

6.Given the string "Data Science", use negative indices to
extract and print the last three characters

In [ ]:
a=("data science")
print(a[-3:])

nce

7.Given the string "abcdefghij", use slicing with a step to
print every second character.

In [ ]:
a=("abcdefghij")
print(a[1::2])

bdfhj

8.Given the string "1234567890", use slicing with a step to
print the odd digits.

In [ ]:
a=("1234567890")
print(a[0::2])

13579

9.Given the string "Hello", use slicing to print the string in
reverse order.

In [ ]:
a=("hello")
print(a[::-1])

olleh

10.Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing

In [ ]:
a=("abcdefghijk")
print(a[0::2])

bdfhj

11.Write a program to find sum of all elements in a list of
integers

In [ ]:
def sum_of_elements(int_list):
    return sum(int_list)
numbers = [1, 2, 3, 4, 5]
result = sum_of_elements(numbers)
print("The sum of all elements in the list is:", result)

The sum of all elements in the list is: 15

12.Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:
a=("hello world")
print(len(a))
print(a[0:6])

11
hello

14.
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value

In [ ]:

listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.remove(32)
print(listA)
listA = [x for x in listA if x != 40]
print(listA)
listA.pop(5)
print(listA)
if len(listA) > 9:
    listA[9] = 300
    print(listA)
listA.insert(2, 200)

print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))
print(len(listA))
print(max(listA))

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of the list: 10
Maximum value in the list: 200
Sum of all elements in the list: 528
10
200

15.Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [ ]:
string="the day has been long"
string=string.replace("e","")
print(string)

th day has bn long

In [ ]:
string="the day has been long"
print(string*4)

the day has been longthe day has been longthe day has been longthe day has been long

In [ ]:
string="the day has been long"
print(string*3)

the day has been longthe day has been longthe day has been long

In [ ]:
string="the day has been long"
string=string.replace("e","a")
print(string)

tha day has baan long

In [ ]:
string="the day has been long"
print(string[4:15])

day has bee

In [ ]:
string="the day has been long"
print(len(string))

21

In [ ]:
string="the day has been long"
print(string)

the day has been long

13.Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [ ]:
tuple1 =(78,45,32,19,82,77,40,39)
list1=list(tuple1)
list1[2]=100
tuple1=tuple(list1)
print(tuple1)

(78, 45, 100, 19, 82, 77, 40, 39)