<a href="https://colab.research.google.com/github/hafsana271/DataScienceAssignmnt/blob/main/python_assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to accept a string value from the user and display
the count of each character in that string.

In [8]:
a=(input("Enter a string:"))
count={}
for i in a:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
for i,j in count.items():
    print(i,"=", j)

Enter a string:hello
h = 1
e = 1
l = 2
o = 1

2.Write a Python function to find the maximum of three numbers.

In [9]:
a=[34,12,7]
print(max(a))

34

3.Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [11]:
base=int(input("Enter base:"))
exp=int(input("Enter exponent:"))
def exponent(base,exp):
    return base**exp
exponent(base,exp)

Enter base:2
Enter exponent:3

8

4.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [12]:
def sum_of_cubes(n):
    sum=0
    for i in range(1,n):
        sum+=i**3
    return sum
a=int(input("Enter a number: "))
result = sum_of_cubes(a)
print("The sum of cubes of all positive integers smaller than", a, "is", result)

Enter a number: 4
The sum of cubes of all positive integers smaller than 4 is 36

5.Write a Python program which iterates from 1 to 10. For multiples of 2,
  print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
  For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [13]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of
  numbers.

In [18]:
a=[2,3,4,2,5,2]
print("The most frequent is = ",max(a))

The most frequent is =  5

7.Write a Python program to find the sum of squares of the numbers in a
  list.

In [19]:
a = [2, 1, 3, 1]
sum_of_squares = 0
for num in a:
    sum_of_squares += num ** 2
print(sum_of_squares)

15

8.Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [20]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

9.Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [22]:
f=int(input("Temperature in Fahrenheit ="))
c=(f-32)*5/9
print("Temperature in Celsius =",int(c))

Temperature in Fahrenheit =35
Temperature in Celsius = 1

10.Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [23]:
fact=int(input("Enter the number: "))
def factorial(fact):
    if fact==0:
        return 1
    else:
        return fact*factorial(fact-1)
print(factorial(fact))

Enter the number: 3
6